.gallery .blogtoc_label {
  width: auto !important;
  margin: 0 auto;
  margin-bottom: 10px;
}
.gallery .blogtoc_filter {
  display: none;
}
.gallery .blogtoc_table {
  display: block;
  margin: 0 auto;
}
.gallery .blogtoc_table tbody {
  display: block;
}
.gallery .blogtoc_table tr {
  width: 18%;
  display: inline-block;
  vertical-align: top;
  margin: 0 1% 10px;
  padding: 0;
  background: #eee;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.3);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,.3);
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
}
.gallery .blogtoc_table tr td {
  width: auto;
  display: block;
  margin: 0;
  border: 0;
}
.gallery .blogtoc_table tr td[data-title="thumbnail"] {
  padding: 0 !important;
  border-top: 0 !important;
}
.gallery .blogtoc_table tr td .blogtoc_thumbnail {
  width: auto !important;
  padding: 0;
}
.gallery .blogtoc_table tr td .blogtoc_thumbnail img {
  border: 0;
  -webkit-border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  border-radius: 4px 4px 0 0;
  background-clip: padding-box;
  width: auto !important;
}
.gallery .blogtoc_table tr td .blogtoc_thumbnail img:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.gallery .blogtoc_table tr td a {
  display: block;
  font-size: 11px;
  padding: 2px 5px 0;
  text-align: left;
}
.gallery .blogtoc_table tr td a span {
  display: inline !important;
  font-size: 14px !important;
}
.gallery .blogtoc_table tr td .blogtoc_post {
  display: block;
  font-size: 18px;
  padding: 5px 5px 0;
}
.gallery .blogtoc_result,
.gallery .blogtoc_responsive_hide {
  display: none !important;
}
.gallery .blogtoc_pagination {
  margin-top: 10px !important;
  float: none !important;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .gallery .blogtoc_table td {
    padding: 0;
  }
  .gallery .blogtoc_table td:before {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    content: '';
  }
}
@media only screen and (max-width: 940px) {
  .blogtoc_table tr {
    width: 23% !important;
  }
}
@media only screen and (max-width: 720px) {
  .blogtoc_table tr {
    width: 31.33333% !important;
  }
}
