[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = git@github.com:twbs/bootstrap.git
[submodule "vendor/JSON-js"]
	
	path = vendor/JSON-js
	
	url = git@github.com:douglascrockford/JSON-js.git
[submodule "setImmediate"]
	path = setImmediate
	url = git@github.com:NobleJS/setImmediate.git
[submodule "vendor/setImmediate"]
	path = vendor/setImmediate
	url = git@github.com:NobleJS/setImmediate.git
[submodule "vendor/pouchdb"]
	path = vendor/pouchdb
	url = git@github.com:daleharvey/pouchdb.git
