---
layout: default
title: BlogToc
slug: demo
---
<div class="row-fluid" id="demo-wrapper" ng-controller="DemoCtrl">

  <div class="span3 demo-fluid">
      <p><span class="legend-title">Options</span></p>
      <hr class="condensed-line">
      <div class="alert alert-error">
        Click <b>Generate Button</b> after finish customizing to view the change
      </div>
      <div class="accordion" id="options">

        <!-- group choice -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <div class="accordion-toggle">
              <label for="bt-cdn" class="checkbox">
                <input type="checkbox" name="bt-cdn" id="bt-cdn" ng-model="useCDN"> [[renderCDN()]] google code URL
              </label>
            </div>
          </div>
        </div>

        <!-- bt-url -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-url" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Blogspot URL
            </a>
          </div>
          <div id="collapse-bt-url" class="accordion-body collapse in">
            <div class="accordion-inner">
              <form>
              <!-- date day -->
              <label for="bt-url">
                <span class="label label-important">Important!</span>
              </label>
              <input type="text" id="bt-url" name="bt-url" class="span12" ng-model="preModel.url" ng-blur="initBlogUrl()">
              <p class="help-block">
                Your blogspot URL, <b>without</b> <code>http://</code> or <code>trailing slash</code> <i>e.g:</i> <br>
                <span class="badge badge-info">googleblog.blogspot.com</span>
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- bt-blogtoc-id -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-blogtoc-id" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              BlogToc
            </a>
          </div>  
          <div id="collapse-bt-blogtoc-id" class="accordion-body collapse">
            <div class="accordion-inner">
              <!-- date day -->
              <form>
              <label for="bt-blogtoc-id">
                <span class="label label-inverse">ID</span>
              </label>
              <input type="text" id="bt-blogtoc-id" name="bt-blogtoc-id" class="span12" ng-model="preModel.blogtocId">
              <p class="help-block">
                Add custom <code>ID</code> to your widget, Otherwise will generate random <code>ID</code>
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-binding -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-binding" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Binding
            </a>
          </div>
          <div id="collapse-bt-binding" class="accordion-body collapse">
            <div class="accordion-inner">
              <!-- binding -->
              <form>
              <div ng-repeat="binding in junk.binding">
                <label for="bt-binding-[[ binding[0] ]]">
                  <span class="label label-inverse">[[ binding[0] ]]</span>
                </label>
                <div id="bt-binding-[[ binding[0] ]]" class="ui-ace-textarea" ui-ace="{mode: 'javascript'}" ng-model="preModel.binding[ binding[0] ]"></div>
                <p class="help-block">
                  A callback function and will trigger <br><b>[[ binding[1] ]]</b>.
                </p>
              </div>
              </form>
              <p class="help-block">Try by alerting something!</p>
            </div>
          </div>
        </div>

        <!-- group bt-data-type -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-data-type" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Data Type
            </a>
          </div>
          <div id="collapse-bt-data-type" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <label for="bt-data-type">
                <span class="label label-inverse">Type</span>
              </label>
              <select name="bt-data-type" id="bt-data-type" ng-model="preModel.dataType">
                <option value="JSONP">JSONP</option>
                <!-- <option value="JSON">JSON</option> -->
              </select>
              <p class="help-block">
                The request method we're gonna using, either <code>JSONP</code> or <code>JSON</code>.
                In this demo the <code>JSON</code> method will not going to work because the request must be at the same domain of the blog url. (See <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Same_origin_policy_for_JavaScript">Cross Domain Origin Policy</a>)<br>
                <ul>
                  <li><code>JSONP</code> send asynchronous request by using <code>&lt;script&gt;</code> tag.</li>
                  <li><code>JSON</code> send request via ajax.</li>
                </ul>
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-date -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-date" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Date
            </a>
          </div>
          <div id="collapse-bt-date" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- date day -->
              <label for="bt-date-day">
                <span class="label label-inverse">Day</span>
              </label>
              <input type="text" id="bt-date-day" name="bt-date-day" ng-model="preModel.date.day" ui-select2="select2Options.dateDay" class="span12">
              <p class="help-block">
                List of days. You can change the value. <i>e.g:</i> <code>Sun</code>,<code>Mon</code>,<code>Tue</code>,etc... (Days in 3 letter format) or any days name in your current language. But remember (!) the order are absolute, starting from <code>Sunday</code> to <code>Saturday</code>.
              </p>
              <!-- date month -->
              <label for="bt-date-month">
                <span class="label label-inverse">Month</span>
              </label>
              <input type="text" id="bt-date-month" name="bt-date-month" ng-model="preModel.date.month" ui-select2="select2Options.dateMonth" class="span12">
              <p class="help-block">
                List of months. Same as above, you can change the value according to your own preferences. Starting from <code>January</code> to <code>December</code>.
              </p>
              <!-- date render -->
              <label for="bt-date-render">
                <span class="label label-inverse">Render</span>
              </label>
              <div class="ui-ace-textarea" ui-ace="{mode: 'javascript'}" ng-model="preModel.date.renderDateText"></div>
              <p class="help-block">
                Format how the date displayed. A callback function that requires 2 parameters ( <code>date</code> &amp; <code>option</code> ) =&gt;
<pre class="prettyprint">
callback( date, option ) {
// format the date...
}</pre>
                <code>option</code> is the user options and <code>date</code> is <a href="//developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date">JavaScript date object</a>. The example above will likely output =&gt; <br><i>Friday, August 30 2013</i>
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-display -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-display" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Display
            </a>
          </div>
          <div id="collapse-bt-display" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- display setup -->
              <label for="bt-display-setup">
                <span class="label label-inverse">Setup</span>
              </label>
              <input type="text" id="bt-display-setup" name="bt-display-setup" ng-model="preModel.display.setup" class="span4" typeahead="dst for dst in displayTemp | filter:$viewValue">
              <p class="help-block">
                The initial setup how many records will be displayed (Either a number, or string that represents to display all records).
              </span>
              <!-- display template -->
              <label for="bt-display-template">
                <span class="label label-inverse">Template</span>
              </label>
              <input type="text" id="bt-display-template" name="bt-display-template" ng-model="preModel.display.template" ui-select2="select2Options.displayTemplate" class="span12">
              <p class="help-block">
                The initial template for list of records, You can change the value according to your own preference. The word <code>"All"</code> is marked as all records.
              </span>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-extend -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-extend" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Extend Class
            </a>
          </div>
          <div id="collapse-bt-extend" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <p>
                The main purpose of this option is mostly for custom styling by adding additional class to the structure of DOM that the widget generates.
              </p>
              <div ng-repeat="extend in junk.extendClass">
                <label for="bt-extend-[[ extend[0] ]]">
                  <span class="label label-inverse">[[ extend[0] | titlelize ]]</span>
                </label>
                <input type="text" id="bt-extend-[[ extend[0] ]]" name="bt-extend-[[ extend[0] ]]" class="span12" ng-model="preModel.extendClass[ extend[0] ]">
                <p class="help-block">
                  Add additional class to 
                  <code>[[ extend[1] ]]</code>
                </p>
              </div>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-feed -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-feed" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Feed
            </a>
          </div>
          <div id="collapse-bt-feed" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- feed append query -->
              <label for="bt-feed-append-query">
                <span class="label label-inverse">Append Query</span>
              </label>
              <textarea class="btn-block" id="bt-feed-append-query" name="bt-feed-append-query" ng-model="preModel.feed.appendQuery"></textarea>
              <p class="help-block">
                Query parameter to be added when fetching the blogspot feed. e.g:
                <code>&amp;updated-min=2008-03-16T00:00:00</code><br>
                <code>&amp;updated-max=2008-03-24T23:59:59</code><br>
                <code>&amp;orderby=updated</code> 
                (See <a href="https://developers.google.com/blogger/docs/2.0/reference#Parameters">Blogger feed reference</a></code>).
                <br>
                <span class="badge badge-warning">Notes</span> Do not use these forbidden query parameters =&gt; <code>start-index</code>, <code>max-results</code>, <code>alt</code>, <code>callback</code>. It will give unexpected response.
              </p>  
              <!-- feed chunk request -->
              <label for="bt-feed-chunk-request">
                <span class="label label-inverse">Chunk Request</span>
              </label>
              <input type="text" class="number span11" id="bt-feed-chunk-request" name="bt-feed-chunk-request" ng-model="preModel.feed.chunkRequest" min="1">
              <p class="help-block">
                Split how many requests will be sent to fetch blogspot feed at one time.
              </p>
              <!-- feed limit -->
              <label for="bt-feed-limit">
                <span class="label label-inverse">Limit</span>
              </label>
              <input type="text" class="number span11" id="bt-feed-limit" name="bt-feed-limit" ng-model="preModel.feed.limit" min="0">
              <p class="help-block">
                Limit how many posts will be fetched. Set to <code>0</code> to fetch all posts.
              </p>
              <!-- feed request count -->
              <label for="bt-feed-request-count">
                <span class="label label-inverse">Request Count</span>
              </label>
              <input type="text" class="number span11" id="bt-feed-request-count" name="bt-feed-request-count" ng-model="preModel.feed.requestCount" min="1" max="500">
              <p class="help-block">
                Set the max-results value. Maximum value is <b>500</b>, and minimum value is <b>1</b>.
              </p>
              <!-- feed type -->
              <label for="bt-feed-type">
                <span class="label label-inverse">Type</span>
              </label>
              <select name="bt-feed-type" id="bt-feed-type" ng-model="preModel.feed.type">
                <option value="default">default</option>
                <option value="summary">summary</option>
              </select>
              <p class="help-block">
                The blogger feed type we're gonna using, either <code>default</code> or <code>summary</code>.
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-label -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-label" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Label
            </a>
          </div>
          <div id="collapse-bt-label" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- label define -->
              <label for="bt-label-define">
                <span class="label label-inverse">Define (filter)</span>
              </label>
              <input type="hidden" id="bt-label-define" name="bt-label-define" ng-model="preModel.label.define" ui-select2="select2Options.labelDefine" class="span12" ng-change="disableException()">
              <p class="help-block">
                If it's not empty, include / exclude only the defined post label, depend on the "exception" option below.
              </p>
              <!-- label exception -->
              <label for="bt-label-exception">
                <span class="label label-inverse">Exception</span>
              </label>
              <label class="checkbox inline">
                <input type="checkbox" name="bt-label-exception" ng-model="preModel.label.exception" ng-disabled="!exceptionState"> [[preModel.label.exception]]
              </label>
              <p class="help-block">
                The "define" option above must be specified. Set to <code>true</code> <i>(Yes)</i>, will exclude only the defined post label. Set to <code>false</code> <i>(No)</i>, will include only the defined post label.
              </p>
              <!-- label show label -->
              <label for="bt-label-show-label">
                <span class="label label-inverse">Show Label</span>
              </label>
              <label class="checkbox inline">
                <input type="checkbox" name="bt-label-show-label" ng-model="preModel.label.showLabel" ng-click="disableLabel()"> [[preModel.label.showLabel]]
              </label>
              <p class="help-block">
                Show or Hide Post label.
              </p>
              <!-- label include label all -->
              <label for="bt-label-include-label-all">
                <span class="label label-inverse">Include Label All</span>
              </label>
              <label class="checkbox inline">
                <input type="checkbox" name="bt-label-include-label-all" ng-model="preModel.label.includeLabelAll" ng-disabled="!showLabelState"> [[preModel.label.includeLabelAll]]
              </label>
              <p class="help-block">
                Include or not the "special label" that will display all posts.
              </p>
              <!-- label all text -->
              <label for="bt-label-all-text">
                <span class="label label-inverse">Label "All Categories" text</span>
              </label>
              <input type="text" id="bt-label-all-text" name="bt-label-all-text" class="span3" ng-model="preModel.label.allText" ng-disabled="!showLabelState || !preModel.label.includeLabelAll" ng-init="fillLabelState()" ng-change="fillLabelState()">
              <p class="help-block">
                Name of post label that will display all posts.
              </p>
              <!-- label setup -->
              <label for="bt-label-setup">
                <span class="label label-inverse">Label Setup</span>
              </label>
              <input type="text" id="bt-label-setup" name="bt-label-setup" class="span3" ng-model="preModel.label.setup" ng-disabled="!showLabelState || !preModel.label.includeLabelAll" typeahead="lbl for lbl in labelState | filter:$viewValue">
              <p class="help-block">
                The post label that is choosen as default at the very start.
              </p>
              <!-- label cloud label -->
              <label for="bt-label-cloud-label">
                <span class="label label-inverse">Show Label in "Cloud" mode</span>
              </label>
              <label class="checkbox inline">
                <input type="checkbox" name="bt-label-cloud-label" ng-model="preModel.label.cloudLabel" ng-disabled="!showLabelState"> [[preModel.label.cloudLabel]]
              </label>
              <p class="help-block">
                Show post label list in <code>dropdown</code> or <code>cloud</code> mode.
              </p>
              <!-- label show label -->
              <label for="bt-label-show-alphabet-label">
                <span class="label label-inverse">Show Alphabet Label</span>
              </label>
              <label class="checkbox inline">
                <input type="checkbox" name="bt-label-show-alphabet-label" ng-model="preModel.label.showAlphabetLabel" ng-click="disableAlphabetLabel()"> [[preModel.label.showAlphabetLabel]]
              </label>
              <p class="help-block">
                Show or Hide Alphabet Label.
              </p>
              <!-- label include label all -->
              <label for="bt-label-include-alphabet-label-all">
                <span class="label label-inverse">Include Alphabet Label All</span>
              </label>
              <label class="checkbox inline">
                <input type="checkbox" name="bt-label-include-alphabet-label-all" ng-model="preModel.label.includeAlphabetLabelAll" ng-disabled="!showAlphabetLabelState"> [[preModel.label.includeAlphabetLabelAll]]
              </label>
              <p class="help-block">
                Include or not the alphabet label that will display all posts.
              </p>
              <!-- label all alphabet text -->
              <label for="bt-label-all-alphabet-text">
                <span class="label label-inverse">Alphabet Label "All Data" text</span>
              </label>
              <input type="text" id="bt-label-all-alphabet-text" name="bt-label-all-alphabet-text" class="span3" ng-model="preModel.label.alphabetAllText" disabled="!showAlphabetLabelState || !preModel.label.includeAlphabetLabelAll" ng-init="fillAlphabetLabelState()" ng-change="fillAlphabetLabelState()">
              <p class="help-block">
                Name of alphabet label that will display all posts.
              </p>
              <!-- label setup alphabet -->
              <label for="bt-label-setup-alphabet">
                <span class="label label-inverse">Alphabet Label Setup</span>
              </label>
              <input type="text" id="bt-label-setup-alphabet" name="bt-label-setup-alphabet" class="span3" ng-model="preModel.label.setupAlphabet" ng-disabled="!showAlphabetLabelState || !preModel.label.includeAlphabetLabelAll" typeahead="albl for albl in alphabetLabelState | filter:$viewValue">
              <p class="help-block">
                The alphabet label that is choosen as default at the very start.
              </p>
              <!-- label cloud label -->
              <label for="bt-label-cloud-alphabet-label">
                <span class="label label-inverse">Show Alphabet Label in "Cloud" mode</span>
              </label>
              <label class="checkbox inline">
                <input type="checkbox" name="bt-label-cloud-alphabet-label" ng-model="preModel.label.cloudAlphabetLabel" ng-disabled="!showAlphabetLabelState"> [[preModel.label.cloudAlphabetLabel]]
              </label>
              <p class="help-block">
                Show alphabet label list in <code>dropdown</code> or <code>cloud</code> mode.
              </p>
              <!-- label symbolic alpha filter-->
              <label for="bt-symbolic-alpha-filter">
                <span class="label label-inverse">Symbolic Alphabet Filter</span>
              </label>
              <div class="ui-ace-textarea" ui-ace="{mode: 'javascript'}" ng-model="preModel.label.renderSymbolicAlphabetFilterText"></div>
              <p class="help-block">
                A callback function that return <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions" target="_blank">Regular Expression Object</a> to filter symbolic character. Symbolic Character will be stored in <b>"#"</b> (hashtag) alphabet label.
                <br>
                The Example above will be parse to <code>/^[0-9$-\/:-?{-~!"^_`\[\]]/i</code>, means find character that not begin with alphabet.
              </p>
              <!-- label alphabet member -->
              <label for="bt-label-alphabet-member">
                <span class="label label-inverse">Alphabet Member</span>
              </label>
              <input type="hidden" id="bt-label-alphabet-member" name="bt-label-alphabet-member" ng-model="preModel.label.alphabetMember" ui-select2="select2Options.labelAlphabetMember" class="span12">
              <p class="help-block">
                Array of alphabet characters. So why this option included?
                <br>
                Not all country used standard alphabet (A to Z) which represent phonemes of their spoken language.
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-language -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-language" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Language
            </a>
          </div>
          <div id="collapse-bt-language" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- language setup -->
              <label for="bt-language-setup">
                <span class="label label-inverse">Setup</span>
              </label>
              <select name="bt-language-setup" id="bt-language-setup" ng-model="preModel.language.setup" ng-options="lang.value as lang.text for lang in setupLanguage">
              </select>
              <p class="help-block">
                The default language you're gonna using.
              </p>
              <!-- language custom -->
              <label for="bt-language-custom">
                <span class="label label-inverse">Custom</span>
              </label>
              <p>
                Overriding the current language based on your preferences. Checkout the <a href="//github.com/clusteramaryllis/blogtoc/tree/master/lang">language library</a> for more detail. Leave the field empty if you want to use the default setting.
              </p>
              <div class="row-fluid">
                <div class="span1"></div>
                <div class="span11">
                  <div ng-repeat="custom in junk.customLanguage">
                    <label for="bt-language-custom-[[ custom[0] ]]">
                      <span class="label label-inverse">[[ custom[0] | titlelize ]]</span>
                    </label>
                    <input type="text" id="bt-language-custom-[[ custom[0] ]]" name="bt-language-custom-[[ custom[0] ]]" class="span12" ng-model="preModel.language.custom[ custom[0] ]">
                    <p class="help-block">
                      Overriding the language for <code>[[ custom[1] ]]</code>.
                    </p>
                  </div>
                  <!-- language custom result -->
                  <label for="bt-language-custom-result">
                    <span class="label label-inverse">Result</span>
                  </label>
                  <input type="text" id="bt-language-custom-result" name="bt-language-custom-result" ng-model="preModel.language.custom.result">
                  <p class="help-block">
                    Overriding the language for <code>result</code>. There's some language parsing which is described : <br>
                    <code>{begin}</code> will be parsing to the first index number of the current visible records.<br>
                    <code>{end}</code> will be parsing to the last index number of the current visible records.<br>
                    <code>{total}</code> will be parsing to the total records (means total posts).<br>
                    <i>e.g Showing <b>{begin}</b> to <b>{end}</b> out of <b>{total}</b>.</i> <br>
                    will be parsing to<br>
                    <i>Showing <b>1</b> to <b>10</b> out of <b>120</b>.</i>
                  </p>
                  <!-- language custom error message -->
                  <label for="bt-language-custom-error-message">
                    <span class="label label-inverse">Error Message</span>
                  </label>
                  <textarea class="btn-block" id="bt-language-custom-error-message" name="bt-language-custom-error-message" ng-model="preModel.language.custom.errorMessage"></textarea>
                  <p class="help-block">
                    Overriding the language for <code>error message</code>.
                  </p>
                </div><!-- span2 -->
              </div><!-- row-fluid -->
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-link -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-link" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Link Target
            </a>
          </div>  
          <div id="collapse-bt-link" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <div ng-repeat="link in junk.linkTarget">
                <label for="bt-link-target-[[ link[0] ]]">
                  <span class="label label-inverse">[[ link[0] | titlelize ]]</span>
                </label>
                <select name="bt-link-target-[[ link[0] ]]" id="bt-link-target-[[ link[0] ]]" ng-model="preModel.linkTarget[ link[0] ]" ng-options="target for target in targetLinks">
                </select>
                <p class="help-block">
                  [[ link[1] ]]
                </p>
              </div>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-badge -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-badge" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              New Badge
            </a>
          </div>  
          <div id="collapse-bt-badge" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- new badge setup -->
              <label for="bt-new-badge-setup">
                <span class="label label-inverse">Setup</span>
              </label>
              <input type="text" class="number span11" id="bt-new-badge-setup" name="bt-new-badge-setup" ng-model="preModel.newBadge.setup">
              <p class="help-block">
                The initial setup how many <span class="badge badge-info">New</span> badges will be glued to the newest published post (Must be a number).
              </p>
              <!-- new badge render -->
              <label for="bt-new-badge-render">
                <span class="label label-inverse">Render</span>
              </label>
              <div class="ui-ace-textarea" ui-ace="{mode: 'javascript'}" ng-model="preModel.newBadge.renderBadgeText"></div>
              <p class="help-block">
                Format how the <span class="badge badge-info">New</span> badge displayed. A callback function that requires 1 parameter ( <code>language</code> ) =&gt;
<pre class="prettyprint">
callback( language ) {
// display the label
}</pre>
                <code>language</code> is the language you set in language section option, refer to <a id="reveal-new-label" href="#bt-language-custom-new-label">this</a>.
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-notification -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-notification" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Notification
            </a>
          </div>  
          <div id="collapse-bt-notification" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- notification enabled -->
              <label for="bt-notification-enabled">
                <span class="label label-inverse">Enabled Notification</span>
              </label>
              <label class="checkbox inline">
                <input type="checkbox" name="bt-notification-enabled" ng-model="preModel.notification.enabled" > [[preModel.notification.enabled]]
              </label>
              <p class="help-block">
                Enabled of disabled notification (Useful when you want to show notification to user if there's new published/updated post).
              </p>
              <!-- notification interval -->
              <label for="bt-notification-interval">
                <span class="label label-inverse">Interval</span>
              </label>
              <input type="text" class="number span11" id="bt-notification-interval" name="bt-notification-interval" ng-model="preModel.notification.interval">
              <p class="help-block">
                Interval time the widget check on the server whether there's new / updated post or not (Must be in miliseconds).
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-number -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-number" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Number
            </a>
          </div>  
          <div id="collapse-bt-number" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- number render -->
              <label for="bt-number-render">
                <span class="label label-inverse">Render</span>
              </label>
              <div class="ui-ace-textarea" ui-ace="{mode: 'javascript'}" ng-model="preModel.number.renderNumberText"></div>
              <p class="help-block">
                Format the number in index column, pagination, and page report. A callback function with 1 parameter ( <code>idx</code> ) =&gt;
<pre class="prettyprint">
callback( idx ) {
// format the number
}</pre>
                <code>idx</code> is the number.
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-pagination -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-pagination" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Pagination
            </a>
          </div>
          <div id="collapse-bt-pagination" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- pagination adjacents -->
              <label for="bt-pagination-adjacents">
                <span class="label label-inverse">Adjacents</span>
              </label>
              <input type="text" class="number span11" id="bt-pagination-adjacents" name="bt-pagination-adjacents" ng-model="preModel.pagination.adjacents">
              <p class="help-block">
                The pagination adjacents (Must be a number).
              </p>
              <!-- pagination page -->
              <div ng-repeat="pagination in junk.pagination">
                <label for="bt-pagination-[[ pagination[0] ]]">
                  <span class="label label-inverse">[[ pagination[0] ]]</span>
                </label>
                <label class="checkbox inline">
                  <input type="checkbox" name="bt-pagination-[[ pagination[0] ]]" ng-model="preModel.pagination[ pagination[0] ]"> [[ preModel.pagination[ pagination[0] ] ]]
                </label>
                <p class="help-block">
                  Show the <code>[[ pagination[1] ]]</code> pagination.
                </p>
              </div>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-post -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-post" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Post Label
            </a>
          </div>
          <div id="collapse-bt-post" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- post label setup -->
              <label for="bt-post-label-separator">
                <span class="label label-inverse">Separator</span>
              </label>
              <input type="text" id="bt-post-label-separator" name="bt-post-label-separator" class="span3" ng-model="preModel.postLabel.separator">
              <p class="help-block">
                The post label separator
              </p>
              <!-- post label render -->
              <label for="bt-post-label-render">
                <span class="label label-inverse">Render</span>
              </label>
              <div class="ui-ace-textarea" ui-ace="{mode: 'javascript'}" ng-model="preModel.postLabel.renderPostLabelText"></div>
              <p class="help-block">
                Wrapping each post label with custom html. A callback function that requires 1 parameter ( <code>label</code> ) =&gt;
<pre class="prettyprint">
callback( label ) {
// wrap each label
}</pre>
                <code>label</code> is post label name.
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-progress -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-progress" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Progress
            </a>
          </div>  
          <div id="collapse-bt-progress" class="accordion-body collapse">
            <div class="accordion-inner clearfix">
              <form>
              <!-- progress -->
              <label for="bt-progress-render">
                <span class="label label-inverse">Render</span>
              </label>
              <span class="help-block">
                <span class="label label-important">Need JavaScript knowledge</span>
              </span>
              <div class="ui-ace-textarea" ui-ace="{mode: 'javascript'}" ng-model="preModel.progress.renderProgressText"></div>
              <button class="btn btn-block" ng-click="bootstrapExample($event)">Example using bootstrap <br>progress bar</button>
              <button class="btn btn-block" ng-click="imgExample($event)">Example using animated <br>image loader</button>
              <button class="btn btn-block" ng-click="defaultExample($event)">Reset Default Example</button>
              <p class="help-block">
                Customize the waiting progress animation. A callback function that requires 2 parameters ( <code>elem</code> &amp; <code>progress</code> ) =&gt;
<pre class="prettyprint">
callback( elem, progress ) {
// animate your waiting progress
}</pre>
                <code>elem</code> is the element which the progress will be apended and <code>progress</code> is percentage value of the progress (the text of current loading).
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-rtl -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-rtl" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Right To Left (RTL)
            </a>
          </div>  
          <div id="collapse-bt-rtl" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- label exception -->
              <label for="bt-right-to-left">
                <span class="label label-inverse">Right to Left Mode</span>
              </label>
              <label class="checkbox inline">
                <input type="checkbox" name="bt-right-to-left" ng-model="preModel.rightToLeft" > [[preModel.rightToLeft]]
              </label>
              <p class="help-block">
                Make the direction Right to Left.
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-search -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-search" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Search
            </a>
          </div>  
          <div id="collapse-bt-search" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- marker render -->
              <label for="bt-search-marker-render">
                <span class="label label-inverse">Marker Render</span>
              </label>
              <div class="ui-ace-textarea" ui-ace="{mode: 'javascript'}" ng-model="preModel.search.renderSearchText"></div>
              <p class="help-block">
                Marking the the string result that match with searching query. A callback function that requires 1 parameter ( <code>match</code> ) =&gt;
<pre class="prettyprint">
callback( match ) {
// marking the matching query
}</pre>
                <code>match</code> is the matching query string. The example above will <b>bold</b> the matching query text.
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-sorting -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-sorting" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Sorting
            </a>
          </div>
          <div id="collapse-bt-sorting" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- sorting key -->
              <label for="bt-sorting-key">
                <span class="label label-inverse">Key</span>
              </label>
              <select name="bt-sorting-key" id="bt-sorting-key" ng-model="preModel.sorting.key" ng-options="sorting for sorting in sortingKey">
              </select>
              <p class="help-block">
                The initialization of sorting.
              </p>
              <!-- sorting order -->
              <label for="bt-sorting-order">
                <span class="label label-inverse">Order</span>
              </label>
              <select name="bt-sorting-order" id="bt-sorting-order" ng-model="preModel.sorting.order" ng-options="order for order in sortingOrder">
              </select>
              <p class="help-block">
                The sorting order based on sorting key above, either <code>ascending</code> or <code>descending</code>.
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-summary -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-summary" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Summary
            </a>
          </div>
          <div id="collapse-bt-summary" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- new badge setup -->
              <label for="bt-summary">
                <span class="label label-inverse">Word Limit</span>
              </label>
              <input type="text" class="number span11" id="bt-summary" name="bt-summary" ng-model="preModel.summary.wordLimit">
              <p class="help-block">
                Limit the text summary of your blog post (Must be a number).
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-table -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-table" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Table
            </a>
          </div>
          <div id="collapse-bt-table" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- table order -->
              <label for="bt-table-order">
                <span class="label label-inverse">Order</span>
              </label>
              <input type="text" id="bt-table-order" name="bt-table-order" ui-select2="select2Options.tableOrder" class="span12" ng-model="preModel.table.order">
              <p class="help-block">
                The order of data that will be displayed in table
              </p>
              <div ng-repeat="order in preModel.table.order">
                <label for="bt-table-[[ order ]]">
                  <span class="label label-inverse">[[ order ]] width point</span>
                </label>
                <input type="text" class="number span11" class="span6 bt-point" name="bt-table-[[ order ]]" id="bt-table-[[ order ]]" ng-model="preModel.table[order+'WidthPoint']" step="0.1">
                <p class="help-block">
                  Calculate the width of <code>[[ order ]] &lt;thead&gt;</code> by point.
                </p>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- group bt-theme -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-theme" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Theme
            </a>
          </div>
          <div id="collapse-bt-theme" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- theme built -->
              <label for="bt-theme-built">
                <span class="label label-inverse">Use Built in Theme</span>
              </label>
              <label class="checkbox inline">
                <input type="checkbox" name="bt-theme-built" ng-model="builtInMode" ng-change="resetStandalone()"> [[builtInMode]]
              </label>
              <p class="help-block">
                Choose between using the built-in theme, or your own custom theme.
              </p>
              <!-- theme setup -->
              <label for="bt-theme-default">
                <span class="label label-inverse">Setup</span>
              </label>
              <select name="bt-theme-default" id="bt-theme-default" ng-model="preModel.theme.setup" ng-disabled="!builtInMode" class="span12" ng-options="theme for theme in setupTheme"></select>
              <!-- theme setup -->
              <input type="text" id="bt-theme-custom" name="bt-theme-custom" ng-model="preModel.theme.setup" ng-disabled="builtInMode" class="span12">
              <p class="help-block">
                At the current state, this widget only provides <a href="//getbootstrap.com/" target="_blank">Twitter Bootstrap</a> as the basic theme.
                <br>
                If you use your custom theme. You might be have to write your own CSS for customing. <br>
                You might consider to add your own custom theme to become one of our built-in theme by contributing on <a href="//github.com/clusteramaryllis/blogtoc" target="_blank">github</a> page.
                More information about <a href="//clusteramaryllis.github.io/blogtoc/gallery-1.html" target="_blank">custom theme example</a> and <a href="//clusteramaryllis.github.io/blogtoc/detail.html#theme-bundle" target="_blank">how to create theme bundle</a>
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- group bt-thumbnail -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <a href="#collapse-bt-thumbnail" class="accordion-toggle" data-toggle="collapse" data-parent="#options">
              Thumbnail
            </a>
          </div>
          <div id="collapse-bt-thumbnail" class="accordion-body collapse">
            <div class="accordion-inner">
              <form>
              <!-- thumbnail blank -->
              <label for="bt-thumbnail-blank">
                <span class="label label-inverse">Blank</span>
              </label>
              <input type="url" id="bt-thumbnail-blank" name="bt-thumbnail-blank" ng-model="preModel.thumbnail.blank" class="span12">
              <p class="help-block">
                <code>URL</code> for transparent blank image, use for lazyload.
              </p>
              <!-- thumbnail not found -->
              <label for="bt-thumbnail-not-found">
                <span class="label label-inverse">Not Found</span>
              </label>
              <input type="url" id="bt-thumbnail-not-found" name="bt-thumbnail-not-found" ng-model="preModel.thumbnail.notFound" class="span12">
              <p class="help-block">
                <code>URL</code> for not found image, a fallback if thumbnail is not found.
              </p>
              <!-- thumbnail sample -->
              <label for="bt-thumbnail-sample">
                <span class="label label-inverse">Sample</span>
              </label>
              <input type="url" id="bt-thumbnail-sample" name="bt-thumbnail-sample" ng-model="preModel.thumbnail.sample" class="span12">
              <p class="help-block">
                <code>URL</code> for sample image, use for test the image on the fly service.
              </p>
              <!-- thumbnail size -->
              <label for="bt-thumbnail-size">
                <span class="label label-inverse">Blogpost Thumbnail Size</span>
              </label>
              <input type="text" class="number span11" id="bt-thumbnail-size" name="bt-thumbnail-size" ng-model="preModel.thumbnail.size">
              <p class="help-block">
                The thumbnail dimension size that was found in the blog post.
              </p>
              <!-- thumbnail author size -->
              <label for="bt-thumbnail-author-size">
                <span class="label label-inverse">Author Thumbnail Size</span>
              </label>
              <input type="text" class="number span11" id="bt-thumbnail-author-size" name="bt-thumbnail-author-size" ng-model="preModel.thumbnail.authorSize">
              <p class="help-block">
                The thumbnail dimension size for the author who publishes the post.
              </p>
              <!-- thumbnail author thumbnail -->
              <label for="bt-thumbnail-author-thumb">
                <span class="label label-inverse">Show Author Thumbnail</span>
              </label>
              <label class="checkbox inline">
                <input type="checkbox" name="bt-thumbnail-author-thumb" ng-model="preModel.thumbnail.authorThumbnail"> [[preModel.thumbnail.authorThumbnail]]
              </label>
              <p class="help-block">
                Show or Hide the author thumbnail.
              </p>
              </form>
            </div>
          </div>
        </div>

        <!-- last group -->
        <div class="accordion-group">
          <div class="accordion-heading">
            <div class="accordion-toggle">
              <button id="generate" class="btn btn-danger btn-block" type="button">Generate</button>
            </div>
          </div>
        </div>  
      </div>
  </div><!-- span3 -->

  <div class="span9 demo-fluid">
      <p><span class="legend-title">Result</span></p>
      <hr class="condensed-line">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Display</a></li>
          <li><a href="#tab2" data-toggle="tab">How to use in your blog</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <script src="blogtoc.js"></script>
            <div id="blogtoc"></div>
            <script>
              // Set Base URL
              BlogToc.baseURL( './' ); 
              var myDiv = document.getElementById('blogtoc');
              BlogToc( myDiv ).build();
            </script>
          </div>
          <div class="tab-pane" id="tab2">
            <p>Before you use it, please read <a href="https://github.com/clusteramaryllis/blogtoc/blob/develop/LICENSE" target="_blank">LICENSE</a> file</p>
            <p>Place this code somewhere in the <code>&lt;head&gt;&lt;/head&gt;</code> section</p>
<pre class="prettyprint linenums" id="result-00">
</pre>              
            <p><span class="badge badge-warning">optional</span> You might consider to add setImmediate polyfill</p>
<pre class="prettyprint linenums" id="result-01">
</pre>
            <p>Then add these codes below in your blog page or post <span class="help-inline">(these are just a pre-built example. You can change these codes manually)</span>.</p>
<pre class="prettyprint linenums" id="result-02">
</pre>
<div id="result-02-hidden" style="display: none">
[[modelOneRender()]]
</div>              
          </div>
        </div>
      </div>
  </div><!-- span9 -->
</div><!-- row-fluid -->

<script>var __APP_VERSION__ = "{{ site.appVersion }}";</script>
<!-- <script src="//cdn.jsdelivr.net/setimmediate/1.0.2/setImmediate.js"></script> -->
<script src="js/ace/ace.js"></script>
<script src="js/ace/ui-ace.min.js"></script>
<script src="js/app.js"></script>